<styles>

body{
    font-family: sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #80902f;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #22b9b4;
}

/* Yelling */

strong {
    font-size: 40px;
    font-weight: bolder;
    color: #ff0000;
}

/* Sad/Happy */

em {
    font-style: italic;
    font-size: 30px;
    color: #100db9;
}

</style>

<h1>I Wanna be yours</h1>

<p>I wanna be your vacuum cleaner
Breathing in your dust
I wanna be your Ford Cortina
I will never rust
</p>

<p><strong>I wanna be your vacuum cleaner
Breathing in your dust
I wanna be your Ford Cortina
I will never rust
If you like your coffee hot
Let me be your coffee pot
You call the shots, babe
</strong></p>

<p><em>Let me be your 'leccy meter
And I'll never run out
Let me be the portable heater
That you'll get cold without
I wanna be your setting lotion
Hold your hair in deep devotion (I'll be)
</em></p>

<p>I wanna be your vacuum cleaner (Wanna be yours)
Breathing in your dust (Wanna be yours)
I wanna be your Ford Cortina (Wanna be yours)
I just wanna be yours (Wanna be yours)</p>